html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    background: #112D32;
    color: #E0FFFF;
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
    display: grid;
    grid-template-areas: 
    "header"
    "main nav"
    "footer";
}

.header {
    grid-area: "header";
}

.main {
    grid-area: "main";
}

.navigation {
    grid-area: "nav";
}

.footer {
    grid-area: "footer";
}