html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 1%;
    padding: 3%;
    background: #112D32;
    color: #E0FFFF;
    font-family: 'Lato', sans-serif;
}